.pink-item {
    background-color: deeppink;
}

.silver-item {
    background-color: silver;
}

.gold-item {
    background-color: gold;
}

.black-item {
    background-color: black;
}

.brown-item {
    background-color: saddlebrown;
}

.red-item {
    background-color: red;
}

.orange-item {
    background-color: orangered;
}

.yellow-item {
    background-color: yellow;
}

.green-item {
    background-color: green;
}

.blue-item {
    background-color: blue;
}

.violet-item {
    background-color: darkviolet;
}

.grey-item {
    background-color: grey;
}

.white-item {
    background-color: lightgray;
}

footer {
    background-color: aquamarine;
}

.bg-white {
    background-color: aquamarine!important;
}